<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreImageCIDetector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>58D22F551D4D52D700B1E2D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58D22F691D4D52D700B1E2D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58D22F741D4D52D700B1E2D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
